$overlay: #000000ad;
$white: #fff;
$Pastel-Yellow: #fddd5b;
$Light-Pastel-Yellow: #fddd5bde;
$border-radius: 15px;
$Gunmetal: #282b2e;
$Deep-Green: #2d6630;
$black: #000;
$lightTransparentGray: #8f8b8b69;
$like: #ff002f;
